body {
	background-color: linen
	padding-top; 20px;
}
h1 {
	font-style: oblique;
	font-family: monospace;
	color: royalblue;
	text-align: center;
}
.carousel-inner{
	image-rendering: optimizeQuality;
	margin-left: 300px;
}
.title-color {
	color: blue;
}

p.card-text {
	text-align: center;
}

a:hover {
  background-color: lightskyblue
}

a:active {
  background-color:lightcoral
}

.button {
	background-color: chocolate;
	color: blue;
}

.button {
	background-color: darkkhaki;
	color: red;
}