body {
	background-color: linen
	padding-top; 20px;
}

.title-color {
	color: blue;
}

p.card-text {
	text-align: center;
}

a:hover {
  background-color: lightskyblue
}

a:active {
  background-color:lightcoral
}
